---
const { cardImageUrl, cardTitle, cardDescription, popupTitle, popupImageUrl, popupDescription, isToLoad } = Astro.props;
---

<div class=`popup__opener sdgs__list__box common_more__hover ${isToLoad && "sdgs__list__box__toload"}`>
  <textarea class="popup__set">
    <div class="popup_sdgs">
      <div class="popup_sdgs__title">
        {popupTitle}
      </div>

      <img
        src={popupImageUrl}
        class="popup_sdgs__img"
      />

      <div class="popup_sdgs__text">
        {popupDescription}
      
  </textarea>

  <div class="sdgs__list__box__photo">
    <div
      class="sdgs__list__box__photo__in"
      style=`background-image: url('${cardImageUrl}');`
    >
    </div>
  </div>

  <div class="sdgs__list__box__text">
    <div class="sdgs__list__box__text__in">
      <h3>{cardTitle}</h3>
      <h4>
        <font size="+1">{cardDescription}</font>
      </h4>
    </div>
  </div>

  <div class="sdgs__list__box__foot">
    <div class="common_more">
      <div class="common_more__in">→</div>
      <div class="common_more__ar"></div>
    </div>
  </div>
</div>
