---
const { popupTitle, popupImageUrl, popupDescription, galleryImages } = Astro.props;


const makeLiRawHTML = (myObject) => (`<li>
    <div class="gallery_detail">
        <a href="${myObject?.imageUrl}" rel="lightbox[group]" data-lightbox="image-1">
            <img src="${myObject?.thumbUrl}" width="175" alt=""/>
        </a>
    </div>
</li>`);

const rawHTML = galleryImages?.map(makeLiRawHTML).join('');
---

<textarea class="popup__set">
    
    <div class="popup_sdgs">

        <div class="popup_sdgs__title">
            {popupTitle}
        </div>

        <img
            src={popupImageUrl}
            class="popup_sdgs__img"
        />


        <div class="popup_sdgs__text">
            {popupDescription}
        </div>

        <div>
            <main id="main" class="main works_cat_post">
                <article>
                    
                    <div class="inner">
                        <div class="gallery">
                            <h2 class="font-en">GALLERY</h2>
                            <ul class="gallery_area">
                                {rawHTML}
                            </ul>
                        </div>
                    </div>
                </article>
                
            </main>
        
        </div>

    </div>
             
  </textarea>